# Node.js dependencies
node_modules/

# Build artifacts
dist/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# We want to include main.js in the repository
# main.js
